.breathe {
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 1);
  animation: breathe 4s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 3, 3, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0.8rem rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.green-shimmer {
  background: linear-gradient(
    -45deg,
    theme('colors.green.emerald') 40%,
    theme('colors.green.light') 50%,
    theme('colors.green.emerald') 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer var(--randomized-animation-time) infinite linear;
}

.green-blue-shimmer-slow {
  background: linear-gradient(
    -45deg,
    theme('colors.green.emerald') 40%,
    theme('colors.green.light') 50%,
    theme('colors.green.emerald') 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 5s infinite linear;
}

.dark .green-blue-shimmer-slow {
  background: linear-gradient(
    -45deg,
    theme('colors.blue.dark') 40%,
    theme('colors.blue.light') 50%,
    theme('colors.blue.dark') 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 5s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.wave {
  @apply inline-block;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.reveal {
  animation: reveal linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes reveal {
  0% {
    scale: 0.8;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .breathe,
  .green-shimmer,
  .green-blue-shimmer-slow,
  .wave,
  .reveal {
    animation: none !important;
  }
}
