---
import Layout from '../layouts/Layout.astro';
import NoteBlock from '../components/NoteBlock.astro';
import Card from '../components/Card.astro';
---

<Layout title='Portfolio Home'>
  <section class='container'>
    <span class='block pb-8'></span>

    <h1 class='text-center'>
      Welcome to <span class='text-gradient'>David's Place</span>
    </h1>

    <span class='block pb-8'></span>

    <p class='text-center text-xl'>
      <strong>David's Place</strong> is for me to showcase my work and share my thoughts
      and interests.
      <br />
      I have been a web developer since 2019 and currently work at <strong
        >Datadog</strong
      >, based in New York City.
    </p>

    <span class='block pb-8'></span>

    <NoteBlock>
      This website is a practice site for me to learn <strong>Astro</strong>,
      using <strong>TailwindCSS</strong>, and <strong>AlpineJS</strong>, but I
      hope you find something interesting or even helpful here.
    </NoteBlock>

    <span class='block pb-8'></span>

    <ul
      role='list'
      class='grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 gap-4 tablet:gap-6 laptop:gap-8'
    >
      <Card
        href='https://github.com/DavidWeid/'
        title='GitHub Profile'
        body='View my GitHub profile for an idea of my code cadences.'
      />
      <Card
        href='https://www.linkedin.com/in/david-weid/'
        title='LinkedIn Profile'
        body='View my LinkedIn profile for an idea of my professional background.'
      />
      <Card
        href='mailto:david.weid.2@gmail.com'
        title='Contact Me'
        body='Email me directly if that is your preference.'
      />
      <Card
        href='/cookbook/'
        title='Cookbook'
        body='A collection of recipes I have enjoyed.'
      />
    </ul>
  </section>
</Layout>
