---
interface Props {
  tag: string;
  clickable: boolean;
  variant?: string;
  additionalClasses?: string;
}

const {
  tag,
  clickable,
  variant = 'default',
  additionalClasses = ''
} = Astro.props;
const clickableClasses: string = clickable
  ? 'hover:bg-accent-dark hover:text-accent-light transition-all duration-500'
  : '';
const variantClasses: { [key: string]: string } = {
  default: 'px-2 py-1 text-xs',
  large: 'px-2.5 py-1.5 text-sm'
};
---

<span
  class={`block whitespace-nowrap ${variantClasses[variant]} tracking-wide font-sans-syne font-medium bg-green-light dark:bg-blue-dark/75 dark:text-light rounded-full uppercase ${clickableClasses} ${additionalClasses}`}
>
  {tag}
</span>
