---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
let target = href.startsWith('http') ? '_blank' : '_self';
---

<li
  class='link-card flex p-px rounded-lg shadow-inner bg-medium bg-none bg-[size:400%] bg-[100%] transition-[background-position] duration-500'
>
  <a
    href={href}
    target={target}
    class='w-full rounded-lg bg-medium opacity-80 transition-colors duration-500'
  >
    <h2 class='text-xl'>
      {title}
      <span>&rarr;</span>
    </h2>
    <span class='block pb-4'></span>
    <p>
      {body}
    </p>
  </a>
</li>

<style>
  .link-card > a {
    padding: calc(1.5rem - 1px);
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: theme(colors.accent-light);
  }
</style>
