---
import IconExternalLink from '@images/icons/external-link.svg';

type Props = {
  href: string;
  text: string;
};

const { href, text } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="content-link-gradient inline-flex w-fit items-center gap-1 leading-5"
  >{text}<span class="sr-only">(Opens in a new tab)</span>
  <IconExternalLink class="dark:fill-light h-4 w-4" /></a
>
