---
interface Props {
  title: string;
  description: string | null;
}

const { title, description } = Astro.props;
---

<span class='block pb-8'></span>

<h1 set:html={title} class='text-center' />

{
  description ? (
    <>
      <span class='block pb-8' />
      <p set:html={description} class='text-center text-xl' />
      <span class='block pb-8' />
    </>
  ) : (
    <span class='block pb-8' />
  )
}
