---
import { Image } from 'astro:assets';

interface Props {
  src: any;
  class?: string;
  alt: string;
  loading?: 'lazy' | 'eager';
}

interface Image {
  src: any;
  width: number;
  densities: number[];
  class?: string;
}

const { src, ...attrs } = Astro.props;

const classes: string = attrs.class
  ? attrs.class
  : 'reveal max-w-(--breakpoint-tablet) mx-auto my-0! rounded-6-8-12';
---

<div class="border-gradient rounded-6-8-12">
  <Image
    src={src}
    {...attrs}
    width={src.width / 2}
    densities={[1.5, 2]}
    class={classes}
  />
</div>
