---
import SvgGenerator from '@components/SvgGenerator.astro';

const baseURL = import.meta.env.BASE_URL;
const year: number = new Date().getFullYear();
---

<footer
  class="z-30 py-4 bg-dark text-light bg-linear-to-tr from-blue-dark/60 to-blue-darfrom-blue-dark/10 hover:from-blue-dark/80"
>
  <div class="container flex justify-between items-center">
    <span class="flex items-center text-light">David {year}</span>
    <ul role="list" class="flex items-center gap-3">
      <li role="listitem">
        <a
          href={`${baseURL}style/`}
          title="Style Guide"
          class="px-2 py-2 block hover:text-green-emerald text-xs"
          >Site Styles</a
        >
      </li>

      <li role="listitem">
        <a
          href="https://github.com/DavidWeid/"
          title="GitHub Profile"
          class="px-2 py-2 block group"
        >
          <span class="sr-only"
            >View my GitHub Profile (Redirects to GitHub.com)</span
          >
          <SvgGenerator
            svg="icons/github"
            className="fill-light group-hover:fill-green-emerald group-hover:scale-125 transition-all"
          />
        </a>
      </li>

      <li role="listitem">
        <a
          href="https://www.linkedin.com/in/david-weid/"
          title="LinkedIn Profile"
          class="px-2 py-2 block group"
        >
          <span class="sr-only"
            >View my LinkedIn Profile (Redirects to LinkedIn.com)</span
          >
          <SvgGenerator
            svg="icons/linkedin"
            className="fill-light group-hover:fill-green-emerald group-hover:scale-125 transition-all"
          />
        </a>
      </li>

      <li role="listitem">
        <a
          href="mailto:david.weid.2@gmail.com"
          title="Email Contact"
          class="px-2 py-2 block group"
        >
          <span class="sr-only"
            >Send me an email (Open email via OS settings)</span
          >
          <SvgGenerator
            svg="icons/email"
            className="fill-light group-hover:fill-green-emerald group-hover:scale-125 transition-all"
          />
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <span class="block mt-2 mb-1 border-t border-t-green-emerald"></span>
  </div>

  <div class="container flex justify-center items-center gap-6 mt-1">
    <!-- <a
      href="https://www.flaticon.com/authors/justicon"
      class="text-center text-light/50 hover:text-green-emerald/75 text-xs"
      >Coding icon created by justicon - Flaticon <span class="sr-only">(Redirects to Flaticon.com)</span></a
    > -->

    <!-- svg icon source: https://www.svgrepo.com/collection/iconhub-tritone-icons/ -->

    <a
      href="https://www.canva.com/p/unfold-x/?utm_medium=referral&utm_source=creator_share&utm_campaign=creator_share"
      target="_blank"
      class="text-center text-light/50 hover:text-green-emerald/75 text-xs"
      >Gaming page icons created by Unfold X - Canva <span class="sr-only"
        >(Redirects to Canva.com)</span
      ></a
    >

    <span class="opacity-50" aria-hidden="true">|</span>

    <a
      href="https://www.canva.com/p/dedy-izhams-images/?utm_medium=referral&utm_source=creator_share&utm_campaign=creator_share"
      target="_blank"
      class="text-center text-light/50 hover:text-green-emerald/75 text-xs"
      >Astronaut cartoon created by Dedy Izham - Canva <span class="sr-only"
        >(Redirects to Canva.com)</span
      ></a
    >
  </div>
</footer>
