<nav class='py-4 bg-gradient-to-tr from-accent-dark/60 to-accent-dark/10 hover:from-accent-dark/80 transition-all'>
  <div class='container flex justify-between items-center'>
    <span class='flex items-center'
      ><a href='/' class='px-4 py-2 hover:scale-110 transition-all' aria-label="David's Place Homepage"
        >David's Place</a
      ></span
    >
  </div>
</nav>
