<p
  class='bg-accent-light text-white dark:bg-dark dark:text-white p-6 rounded-lg border border-accent-light/20 bg-gradient-to-tr from-accent-dark/60 to-accent-dark/10 [&>code]:text-sm [&>code]:font-bold [&>code]:bg-accent-light/15 [&>code]:text-accent-light [&>code]:rounded-md [&>code]:py-1 [&>code]:px-1 [&>strong]:text-light/95 [&>strong]:dark:text-accent-light [&>strong]:dark:brightness-100'
>
  <slot />
</p>
