<p
  class="bg-blue-light dark:bg-blue-dark text-white px-6 py-4 rounded-lg border border-green-emerald dark:border-blue-light bg-gradient-to-tr from-dark/75 to-medium/10 [&>code]:text-sm [&>code]:font-bold [&>code]:bg-blue-dark/15 [&>code]:text-blue-light [&>code]:rounded-md [&>code]:py-1 [&>code]:px-1 [&>strong]:tracking-wider [&>strong]:px-0.5 [&>strong]:dark:brightness-100"
>
  <slot />
</p>
