<div
  class="reveal bg-blue-light dark:bg-blue-dark text-light border-green-emerald dark:border-blue-light from-dark/75 to-medium/10 [&>code]:bg-blue-dark/15 [&>code]:text-blue-light rounded-6-8-12 border bg-linear-to-tr px-6 py-4 [&>code]:rounded-md [&>code]:px-1 [&>code]:py-1 [&>code]:text-sm [&>code]:font-bold [&>strong]:px-0.5 [&>strong]:tracking-wider dark:[&>strong]:brightness-100"
>
  <slot />
</div>
