<input type='text' id='search' placeholder='Search...' />

<div id='results'></div>

<script is:inline>
  document.querySelector('#search')?.addEventListener('input', async (e) => {
    if (e.target.dataset.loaded !== 'true') {
      e.target.dataset.loaded = 'true';
      window.pagefind = await import('/davids-place/pagefind/pagefind-ui.js');
    }

    const search = await window.pagefind.search(e.target.value);

    document.querySelector('#results').innerHTML = '';

    for (const result of search.results) {
      const data = await result.data();

      document.querySelector('#results').innerHTML += `
                <a href="${data.url}">
                    <h3>${data.meta.title}</h3>
                    <p>${data.excerpt}</p>
                </a>
            `;
    }
  });
</script>

<style is:global>
  .dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
</style>
