<input type='text' id='search' placeholder='Search...' />

<div id='results'></div>

<script>
  const baseURL = import.meta.env.BASE_URL;
  document
    .querySelector('#search')
    ?.addEventListener('input', async (e: { target: any }) => {
      if (e.target.dataset.loaded !== 'true') {
        e.target.dataset.loaded = 'true';
        (window as any).pagefind = await import(
          `${baseURL}pagefind/pagefind-ui.js`
        );
      }

      const search = await (window as any).pagefind.search(e.target.value);

      const resultsElement = document.querySelector('#results');
      if (resultsElement) {
        resultsElement.innerHTML = '';
      }

      for (const result of search.results) {
        const data = await result.data();

        const resultsElement = document.querySelector('#results');
        if (resultsElement) {
          resultsElement.innerHTML += `
                <a href="${data.url}">
                    <h3>${data.meta.title}</h3>
                    <p>${data.excerpt}</p>
                </a>
            `;
        }
      }
    });
</script>

<style is:global>
  .dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
</style>
