<div
  class="prose dark:prose-invert select-text
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-accent-dark prose-a:hover:text-green-emerald prose-p:text-justify prose-headings:border-b-2 prose-headings:border-b-green-emerald prose-headings:w-max prose-headings:pr-8 prose-headings:pb-2 mx-auto"
>
  <slot />
</div>
