---
import '../styles/base.css';
import '@fontsource/roboto/100.css';
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
import '@fontsource/roboto/900.css';
import '@fontsource-variable/roboto-mono';
import { ViewTransitions } from 'astro:transitions';
import MainNav from '../components/MainNav.astro';
import MainFooter from '../components/MainFooter.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content="David's Place includes projects, blogs, and ideas related to web development and other interests held by David Weid II."
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} | David's Place</title>

    <ViewTransitions />
  </head>
  <body>
    <MainNav />
    <main>
      <slot />
    </main>
    <MainFooter />
  </body>
</html>
