---
import Layout from './Layout.astro';
interface Props {
  frontmatter: {
    title: string;
    Content: any;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
