---
import Layout from './Layout.astro';
interface Props {
  title: string;
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Some content</p>
</Layout>
